<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.7.2/lib/theme-chalk/index.css" integrity="sha256-n7CuXghg6+uwmQsoQOds1HaIffV3byRPlS7vwO+A0UU=" crossorigin="anonymous">
</head>

<div id="pb">
  <div class="row">2019年第3季度</div>
  <div class="row" v-for="project in year2019.season3"><progress-bar :project='project'></progress-bar></div>
  <div class="row"><el-button v-for="(project,idx) in year2019.season3" size="mini" type="info" plain @click="check('year2019.season3', idx)">{{ project.name}}</el-button></div>
  <div class="row memos">
    <el-carousel ref="year2019.season3" :autoplay="false" height="50%">
      <el-carousel-item v-for="project in year2019.season3"><memo-board :project="project"></memo-board></el-carousel-item>
    </el-carousel>
  </div>

</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.7.2/lib/index.js" integrity="sha256-V8TybCz6Jz3rNbqwbexqOCEAW2re0CdcEeghgGWFxuk=" crossorigin="anonymous"></script>
<script src="year2019.js"></script>
<script>
/* project.steps.content: code description
  S: stock

*/

var ProgressBar = {
  template: `
    <div class="one-bar">
      <el-progress :text-inside="true" :stroke-width="18" :percentage="percentage" :color="project.color"></el-progress>
      <div class="count">{{ sum }} / {{ project.target }}</div>
    </div>
  `,
  props: ['project'],
  computed: {
    sum() {
      return this.calcSum(this.project)
    },
    percentage() {
      return this.calcPercentage(this.project)
    }
  },
  methods: {
    calcSum(project) {
      let sum = 0
      if (project.steps[0].point) {
        project.steps.forEach(s => {
          sum += s.point
        })
      } else if (project.steps[0].period) {
        project.steps.forEach(s => {
          sum += s.period
        })
      } else if (project.steps[0].buyAt) {
        project.steps.forEach(m => {
          sum += (m.sellAt - m.buyAt) * m.quant * 0.95 - 10 // 扣(5% + 10)算作摩擦损耗，如佣金、过户费、印花税等
        })
        sum = parseInt(sum)
      }
      return sum
    },
    calcPercentage(project) {
      let sum = this.calcSum(project)
      let tar = project.target
      return parseFloat(((sum / tar) * 100).toFixed(2))
    },
  }
}

var MemoBoard = {
  template: `
    <el-scrollbar class="memo" :style="memoStyle(project.color)">
      <el-timeline :reverse="true">
        <el-timeline-item
          v-for="step in project.steps"
          :key="step.id"
          :color="project.color"
          :timestamp="step.timestamp">
          {{ content(step) }}
        </el-timeline-item>
      </el-timeline>
    </el-scrollbar>
  `,
  props: ['project'],
  computed: {},
  methods: {
    memoStyle(color) {
      return {
        'border': `1px solid ${color}`,
        'border-right': `10px solid #00000000`,
        'background-color': `${color}22`
      }
    },
    content(step) {
      if (step.period) {
        return `${step.content} / ${step.period} min`
      }else if(step.point) {
        return `${step.content} / ${step.point} pts`
      } else if (step.buyAt) {
        return `[${step.content}] (${step.sellAt} - ${step.buyAt}) * ${step.quant} * 0.95 - 10 = ${parseInt((step.sellAt - step.buyAt) * step.quant * 0.95) - 10}`
      }
    }
  }
}

var app = new Vue({
  el: '#pb',
  components: { ProgressBar, MemoBoard },
  data: {
    year2019
  },
  methods: {
    check(stage, idx) {
      this.$refs[stage].setActiveItem(idx)
    }
  }
})
</script>

<style>
  .row, .one-bar {
    display: flex;
  }
  .row+.row {
    margin-top: 7px;
  }
  .memos {
    display: block;
  }
  .one-bar, .el-progress {
    width: 100%;
  }
  .el-timeline {
    padding-top: 10px;
  }
  .count {
    min-width: 130px;
    text-align: right;
  }
  .el-scrollbar .el-scrollbar__wrap {
    overflow-x: hidden;
  }
</style>

<!--
  When I do count the clock that tells the time,
  And see the brave day sunk in hideous night;
  When I behold the violet past prime,
  And sable curls all silvered o'er with white;
  When lofty trees I see barren of leaves,
  Which erst from heat did canopy the herd,
  And summer's green, all girded up in sheaves,
  Borne on the bier with white and bristly beard;
  Then of thy beauty do I question make,
  That thou among the wastes of time must go,
  Since sweets and beauties do themselves forsake,
  And die as fast as they see others grow,
  And nothing 'gainst Time's scythe can make defense,
  Save breed, to brave him when he takes thee hence.
-->

<!--
  Shall I compare thee to a summer's day?
  Thou art more lovely and more temperate:
  Rough winds do shake the darling buds of May,
  And summer's lease hath all too short a date:
  Sometime too hot the eye of heaven shines,
  And often is his gold complexion dimm'd;
  And every fair from fair sometime declines,
  By chance or nature's changing course untrimm'd
  But thy eternal summer shall not fade
  Nor lose possession of that fair thou owest;
  Nor shall Death brag thou wander'st in his shade,
  When in eternal lines to time thou growest:
  So long as men can breathe or eyes can see,
  So long lives this and this gives life to thee.

  life's but a walking shadow,a poor player that struts and frets his hour upon the stage,and then is heard no more; it is tale told by an idiot,full of sound and fury,signifying nothing.
-->