<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.7.2/lib/theme-chalk/index.css" integrity="sha256-n7CuXghg6+uwmQsoQOds1HaIffV3byRPlS7vwO+A0UU=" crossorigin="anonymous">

<div id="pb">
  <div class="row">
    <el-progress :text-inside="true" :stroke-width="18" :percentage="percentage" color="#409EFF"></el-progress>
    <div class="count"> {{ exp }} / {{ target }}</div>
  </div>
  <div class="row">
    <el-progress :text-inside="true" :stroke-width="18" :percentage="season2moneyProgress" color="#8e71c7"></el-progress>
    <div class="count"> {{ parseInt(season2moneyExp) }} / {{ season2moneyTarget }}</div>
  </div>

  <div style="display: flex; margin-top: 18px;">
    <el-timeline :reverse="true">
      <el-timeline-item
        v-for="step in steps"
        :key="step.id"
        color="#409EFF"
        :timestamp="step.timestamp">
        {{step.content}} / {{step.period}} min
      </el-timeline-item>
    </el-timeline>

    <el-timeline :reverse="true">
      <el-timeline-item
        v-for="m in season2money"
        :key="m.id"
        color="#8e71c7"
        :timestamp="m.timestamp">
        【{{m.content}}】 ({{ m.sellAt }} - {{ m.buyAt }}) * {{ m.quant }} * 0.95 = {{ parseInt((m.sellAt - m.buyAt) * m.quant * 0.95) }}
      </el-timeline-item>
    </el-timeline>
  </div>


</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.7.2/lib/index.js" integrity="sha256-V8TybCz6Jz3rNbqwbexqOCEAW2re0CdcEeghgGWFxuk=" crossorigin="anonymous"></script>

<script>
var app = new Vue({
  el: '#pb',
  data() {
    return {
      steps: [
        { id: 0, timestamp: '2019-04-09 19:00', content: '省考公告发布，在19课堂看中公的解读直播', period: 100 },
        { id: 1, timestamp: '2019-04-11 21:30', content: '粉笔-行测', period: 90 },
        { id: 2, timestamp: '2019-04-12 21:45', content: '粉笔-行测', period: 100 },
        { id: 3, timestamp: '2019-04-13 09:20', content: '乘地铁去虹桥，粉笔-行测，综合类', period: 40 },
        { id: 4, timestamp: '2019-04-13 16:20', content: '粉笔-行测答案-抄常识-找点写字的手感', period: 30 },
        { id: 5, timestamp: '2019-04-15 21:40', content: '粉笔-行测-资料(40)，听知乎live-申论(30)', period: 70 },
        { id: 6, timestamp: '2019-04-16 21:00', content: '听知乎live-申论', period: 40 },
        { id: 7, timestamp: '2019-04-16 22:00', content: '粉笔-行测-30个判断推理', period: 90 },
        { id: 8, timestamp: '2019-04-17 21:15', content: '大白-申论-1-快进', period: 60 },
        { id: 9, timestamp: '2019-04-18 00:10', content: '粉笔-行测-15个综合', period: 20 },
        { id: 10, timestamp: '2019-04-19 21:10', content: '韩菲-秒杀三类：3+2，3+2+1，点名为真', period: 70 },
      ],
      target: 6000,
      season2money: [
        { id: 0, timestamp: '2019-04-08', content: '601211', buyAt: 19.4, sellAt: 20.53, quant: 4300 },
      ],
      season2moneyTarget: 30000,
    }
  },
  computed: {
    exp() {
      let exp = 0
      this.steps.forEach(s => {
        exp += s.period
      })
      return exp
    },
    percentage() {
      let exp = 0
      this.steps.forEach(s => {
        exp += s.period
      })
      return parseFloat(((exp / this.target) * 100).toFixed(2))
    },
    season2moneyExp() {
      let exp = 0
      this.season2money.forEach(m => {
        exp += (m.sellAt - m.buyAt) * m.quant * 0.95 // 扣5%算作摩擦费
      })
      return exp
    },
    season2moneyProgress() {
      let exp = 0
      this.season2money.forEach(m => {
        exp += (m.sellAt - m.buyAt) * m.quant * 0.95 // 扣5%算作摩擦费
      })
      return parseFloat(((exp / this.season2moneyTarget) * 100).toFixed(2))
    }
  }
})
</script>

<style>
  .row {
    display: flex;
  }
  .row+.row {
    margin-top: 10px;
  }
  .el-progress {
    width: 100%;
  }
  .count {
    min-width: 130px;
    text-align: right;
  }
</style>